html{
  text-align: center;
  font-family:helvetica;
}
.titlemenu{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.title{
  font-size: 70px;
  font-weight: bold;
}
ul{
  list-style-type: none;
}
.list li{
  font-size: 18px;
}
h2{
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.NY{
  background-image: url("../images/the-flatiron-building.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}
.copyright{
  background-color: dimgray;
  font-size: 11px;
  color:white;
  text-align: left;
}
