html{
  text-align: center;
  font-family:helvetica;
}
.titlemenu{
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.title{
  font-size: 70px;
  font-weight: bold;
}
ul{
  list-style-type: none;
}
.list li{
  font-size: 18px;
}
